@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  font-family: "Inter", serif;
}

.brand {
  background-image: linear-gradient(220.55deg, #fff500 0%, #ff00b8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

a {
  text-decoration: none;
  color: #495057;
}

.h-screen {
  min-height: calc(100dvh - 69.6px);
}

.text-xs {
  font-size: 0.875rem;
}

.hero-heading {
  background-image: linear-gradient(220.55deg, #ffe70b 0%, #27b643 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.size {
  width: 50px;
  height: 50px;
}

.call-to-action {
  background: url("./assets/vector.svg");
  background-size: cover;
  background-position: center;
}
